:root{
    /*--mainColor:#FF986A;*/
    --mainColor:#EFECE3;
    --secColor:rgb(70, 48, 48);
   
    
}

.bg-mainColor{
    background-color: var(--mainColor);
}


.text-secColor{
color: var(--secColor);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color:#000000;

}

.nav-link:focus, .nav-link:hover{
    color:red;
    cursor:pointer;
}
.navbar-right .nav-link-right{
    color: var(--secColor);
}
.navbar-right .nav-link-right:hover{
    color:red;
    cursor:pointer;
}

.navbar-collapse{
    justify-content: space-between;
}
.navbar-brand{
    width:10%;
}
.navbar-right{
    align-items: center;
}
.navbar-right p{
    margin-top:0;
    margin-bottom:0;
}

@media screen and (max-width:991px){
    .navbar-brand {
        display: none;
    }
    .navbar-right{
        flex-direction: column;
        align-items: start;
    }
    .navbar-collapse{
        align-items: start;
        justify-content:start;
        flex-direction: column;
        gap:2px;
    }
}
    
